<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        Liste Article
    </div>
</mat-toolbar>
<div class="pricing-header mx-auto">
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col">Create</th>
                    <th scope="col">Image </th>
                    <th>
                        <a class="btn btn-outline-success" routerLink="/home"><i class="fa fa-plus-square"></i>
                            Create New</a>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let item of homeService.listData ">
                    <th class="hidden">{{item.id}}</th>
                    <td>{{item.address}}</td>
                    <td>{{item.createDate}}</td>

                    <td><a href="#"><img class="card-img-top img-responsive"
                                src="{{this.homeService.host+'/api/auth/ImgHomes/'+item.id}}"
                                style="height:200px;width:200px" alt=""></a></td>
                    <td><button class="btn btn-warning btn btn-outline-dark ml-1" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button></td>
                    <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click)="removeData(item.id)">
                            <i class="fa fa-trash-o"></i></button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>