<!-- <div class="pricing-header mx-auto">
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col">Create</th>
                    <th scope="col">Image </th>
                    <th>
                        <a class="btn btn-outline-success" routerLink="/home"><i class="fa fa-plus-square"></i>
                            Create New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of homeService.listData ">
                    <th class="hidden">{{item.id}}</th>
                    <td>{{item.address}}</td>
                    <td>{{item.createDate}}</td>

                    <td>
                        <img class="marginauto" src="{{this.homeService.host+'/api/auth/ImgHomes/'+item.id}}" style="width:150px" alt="">
                    </td>
                    <td><button class="btn btn-warning btn btn-outline-dark ml-1" (click)="selectData(item)">
                            <i class="fa fa-pencil-square-o"></i></button></td>
                    <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click)="removeData(item.id)">
                            <i class="fa fa-trash-o"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <table id="customers" style="border-collapse: collapse;">
            <tr>
                <th>Address</th>
                <th>Create</th>
                <th>Image</th>
                <th>
                    <button class="btn btn-primary" routerLink="/home">Create New</button>
                </th>
            </tr>
            <tr *ngFor="let item of homeService.listData ">
                <th class="hidden">{{item.id}}</th>
                <td>{{item.address}}</td>
                <td>{{item.createDate}}</td>
                <td>
                    <img class="marginauto" src="{{this.homeService.host+'/api/auth/ImgHomes/'+item.id}}" style="width:150px" alt="">
                </td>
                <td>
                    <mat-icon style="cursor: pointer;" title="Nhấn vào để xóa" (click)="selectData(item)">clear
                    </mat-icon>
                    &nbsp;
                    <mat-icon style="cursor: pointer; " title="Nhấn vào để chỉnh sửa" (click)="removeData(item.id)">
                        edit
                    </mat-icon>
                </td>
            </tr>
        </table>
    </div>
</div>